.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Post-content {
  width: 300px; /* 너비 */
  height: 150px; /* 높이 */
  padding: 10px; /* 내부 여백 */
  font-size: 16px; /* 글자 크기 */
  white-space: normal; /* 자동 줄바꿈 활성화 */
  word-wrap: break-word; /* 긴 단어 줄바꿈 */
}

* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 14px;
}

.menu {
  width: 150px;
  overflow: hidden;
  position: fixed; /* 화면에 고정 */
  top: 24px; /* 화면 위에서 50px 아래 */
  right: 0%; /* 화면 오른쪽에서 50px 왼쪽 */
}

.menu > li {
  width: 100%;
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
}

.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;
}

.menu > li:hover .submenu {
  height: 100px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 700px;
  height: 100vh;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 65px;
  min-height: 65px;
  width: 100%;
  min-width: 700px;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-color: #5778ff;
  margin-bottom: 30px;
}

.landing-page-title {
  font-size: 40px;
  font-weight: bold;
}

.post-button-back {
  margin-bottom: 30px;
}

.post-button {
  background-color: white; /* 기본 배경색 흰색 */
  color: black; /* 글자색 */
  border: 3px solid #5778ff; /* 테두리 색상 */
  padding: 10px 20px; /* 패딩으로 버튼 크기 조절 */
  font-size: 16px; /* 글자 크기 */
  border-radius: 8px; /* 둥근 테두리 */
  cursor: pointer; /* 마우스 포인터 */
  transition: background-color 0.3s ease, transform 0.3s ease; /* 배경색과 크기 변화에 애니메이션 적용 */
  outline: none; /* 클릭 시 테두리 제거 */
}

.post-button:hover {
  background-color: #5778ff; /* hover 시 배경색 */
  color: white; /* hover 시 글자색 흰색 */
  transform: scale(1.05); /* hover 시 크기 약간 증가 */
}

.article-back {
  width: 50%;
  min-width: 550px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
  scrollbar-width: none; /* Firefox에서 스크롤 바 숨김 */
  -ms-overflow-style: none; /* IE와 Edge에서 스크롤 바 숨김 */
}

.article-back::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera에서 스크롤 바 숨김 */
}

.article-back::after {
  content: "";
  position: absolute;
  top: calc(100% - 100px); /* 흐려지기 시작하는 부분 */
  left: 0;
  width: 100%;
  height: 100px; /* 흐려지는 영역 높이 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none; /* 가상의 요소가 상호작용을 방해하지 않도록 */
}

.article {
  width: 100%;
  background-color: rgb(206, 221, 235);
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.article-content {
  font-size: 15px;
  margin-bottom: 10px;
}

.article-info {
  font-size: 13px;
}

.register-button {
  margin: 10px;
}

.detail-back {
  width: 780px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: #94a9ff;
  border-radius: 10px;
  padding: 15px;
}

.detail-info {
  display: flex;
  flex-direction: row;
}

.detail-user-image {
  width: 50px;
  aspect-ratio: 1/1;
  margin-bottom: 15px;
  margin-right: 10px;
}

.detail-user-image img {
  width: 100%;
  height: 100%;
}

.detail-info-user {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.detail-user-name {
  font-size: 1rem;
}

.detail-time {
  font-size: 0.9rem;
}

.detail-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.detail-content {
  font-size: 16px;
  padding-bottom: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
